# Dictionaries

## The _help_ function

In [ ]:
help(dict)

## Examples
What will each of the following print commands print?

In [ ]:
country_capitals = {"England": "London", "Italy": "Rome"}

# get dictionary's length
print(len(country_capitals))   # Output: 2

numbers = {10: "ten", 20: "twenty", 30: "thirty"}

# get dictionary's length
print(len(numbers))            # Output: 3

countries = {}

# get dictionary's length
print(len(countries))          # Output: 0

2
3
0

In [ ]:
name = "test"

In [ ]:
name.

'tbst'

## Checking which keys are present

In [ ]:
file_types = {
    ".txt": "Text File",
    ".pdf": "PDF Document",
    ".jpg": "JPEG Image",
}

# use of in and not in operators
print(".pdf" in file_types.values())       # Output: True
print(".mp3" in file_types)       # Output: False
print(".mp3" not in file_types)   # Output: True

False
False
True

In [ ]:
file_types.values()

dict_values(['Text File', 'PDF Document', 'JPEG Image'])

## Adding key-value pairs to an existing dictionary

In [ ]:
person = {
    "first_name": "John",
    "last_name": "Doe",
    "nationality": "Canada",
    "birth_year": 1980
}

print(person)

{'first_name': 'John', 'last_name': 'Doe', 'nationality': 'Canada', 'birth_year': 1980}

In [ ]:
print(person.values())

dict_values(['John', 'Doe', 'Canada', 1980])

In [ ]:
person["age"]="44"

In [ ]:
print(person)

{'first_name': 'John', 'last_name': 'Doe', 'nationality': 'Canada', 'birth_year': 1980, 'age': '44'}

# Lists

## Lists can be of numbers, strings, dictionaries, lists...

In [ ]:
primes = [2, 3, 5, 7, 11]

users = ["Alice", "Bob", "Charlie"]

products = [
    {"name": "IPhone 12", "price": 949},
    {"name": "Fairphone", "price": 419},
    {"name": "Pixel 5", "price": 799}
]

In [ ]:
dict1 = {"name": "IPhone 14", "price": 949}
dict2 = {"name": "Fairphone 2", "price": 419},
products.append(dict1)
products.append(dict2)
products.pop()
print(products)

[{'name': 'IPhone 12', 'price': 949}, {'name': 'Fairphone', 'price': 419}, {'name': 'Pixel 5', 'price': 799}, {'name': 'IPhone 14', 'price': 949}, ({'name': 'Fairphone 2', 'price': 419},), {'name': 'IPhone 14', 'price': 949}]

## Indexing
Lists are ordered - indeces start at 0.

You can access the end of the list by using -1, -2, ...

In [ ]:
users = ["Alice", "Bob", "Charlie", "Angie"]

print(users[0])
print(users[1])

print(users[-1]) # last element

Alice
Bob
Angie

In [ ]:
print(users[-2])

Charlie

In [ ]:
products.sort()

TypeError: '<' not supported between instances of 'dict' and 'dict'

In [ ]:
print(users)

['Alice', 'Angie', 'Bob', 'Charlie']

In [ ]:
# prompt: Write a code to illustrate the methods available for lists with a list of integers. Add detailed comments.

# Create a list of integers
numbers = [1, 2, 3, 4, 5]

# Print the list
print("Original list:")
print(numbers)

# Add an element to the end of the list
numbers.append(6)

# Print the list after adding an element
print("List after adding an element:")
print(numbers)

# Insert an element at a specific index
numbers.insert(2, 10)

# Print the list after inserting an element
print("List after inserting an element:")
print(numbers)

# Remove the first occurrence of an element
numbers.remove(1)

# Print the list after removing an element
print("List after removing an element:")
print(numbers)

# Pop the last element from the list
numbers.pop()

# Print the list after popping an element
print("List after popping an element:")
print(numbers)

# Reverse the order of the elements in the list
numbers.reverse()

# Print the list after reversing
print("List after reversing:")
print(numbers)

# Sort the list in ascending order
numbers.sort()

# Print the list after sorting
print("List after sorting:")
print(numbers)

# Clear the list
numbers.clear()

# Print the list after clearing
print("List after clearing:")
print(numbers)

In [ ]:
# prompt: Write a code to illustrate the methods available for dictionaries. Add comments to explain the code.

# Create a dictionary
my_dict = {"name": "John", "age": 30, "city": "New York"}

# Print the dictionary
print("Original dictionary:")
print(my_dict)

# Add a new key-value pair to the dictionary
my_dict["profession"] = "Software Engineer"

# Print the dictionary after adding a new key-value pair
print("Dictionary after adding a new key-value pair:")
print(my_dict)

# Update the value of an existing key
my_dict["age"] = 31

# Print the dictionary after updating a value
print("Dictionary after updating a value:")
print(my_dict)

# Remove a key-value pair from the dictionary
del my_dict["city"]

# Print the dictionary after removing a key-value pair
print("Dictionary after removing a key-value pair:")
print(my_dict)

# Clear all the key-value pairs from the dictionary
my_dict.clear()

# Print the dictionary after clearing
print("Dictionary after clearing:")
print(my_dict)

In [ ]:
products[0].pop("name")

'IPhone 12'

In [ ]:
a = [1, 2, 3]

In [ ]:
b = a.copy()

In [ ]:
b.append(4)

In [ ]:
print(a)
print(b)

[1, 2, 3]
[1, 2, 3, 4]